@{
  Layout = "_Layout";
}

<div class="vendorGrid">
  <div class="subheader">
    <h3><a href='/vendors/@Model["vendor"].Id/'>@Model["vendor"].Name</a></h3>
  </div>
  <div class="contactInfo">
    <h5>Contact Info</h5>
    <p>@Model["vendor"].Contact.Name</p>
    <p>@Model["vendor"].Contact.Email</p>
    <p>@Model["vendor"].Contact.Phone</p>
    <p>@Model["vendor"].Contact.Pronouns</p>
  </div>
  <div class="orderHeader">
    <h3>@Model["order"].Title</h3>
  </div>
  <div class="orderButton">
    <a href='/vendors/@Model["vendor"].Id/orders/@Model["order"].Id/edit' class='btn btn-secondary' role='button'>Edit Order</a>
  </div>
  <div class="orderInfo">
    <p><em>Description:</em> @Model["order"].Description</p>
    <p><em>Delivery Time:</em> @Model["order"].DeliveryTime</p>
    <p><em>Order Created:</em> @Model["order"].TimeCreated</p>
  </div>
</div>